<header>
    <nav class="navbar navbar-expand navbar-dark" style="background-color:#0067b8">
        <div class="navbar-brand" (click)="hideQuiz()">Fellow Fins</div>
        
        <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>-->
      
        <div id="navbarSupportedContent" class="collapse navbar-collapse">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <div (click)="initQuiz()" class="btn-ocean btn-primary" >Quiz Now! <span class="sr-only">(current)</span></div>
            </li>
          </ul>
        </div>
      </nav>
</header>
<main role="main" class="container-fluid mt-4 mb-3">

    <div *ngIf="showFront" class="d-flex justify-content-center row m-1">
        <div *ngFor="let person of people" class="card bg-light m-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <img class="card-img-top" style="width: 84%; margin-left: 8%; margin-top: 2%;" src="./assets/fins_pics/{{person.Picture_Local}}">
            <div class="card-body">
            <h2 class="card-title">{{person.Name}}</h2>
            <h4 class="card-title">{{person.Market}}, {{person.Cohort}}</h4>
            <p class="card-text"><strong>Fun Fact:</strong> {{person["Fun Fact"]}}</p>
            <p class="card-text"><strong>Favorite Quote:</strong>{{person["Favorite Quote"]}}</p>
            <h5 class="card-text">{{person.Hometown}}</h5>
            </div>
        </div>
    </div>    

<div *ngIf="!showFront&&!quizEnd" >
    <app-quiz [correctFinPic]="correctFinPic" [finArray]="finArray"
     [correctFinName]="correctFinName"
     (success)="onSuccess()" (failure)="onFailure()"></app-quiz>
</div>
<div *ngIf="quizEnd">
<div class="row">
    <div class="d-flex justify-content-center flex-grow-1 col my-5">
        <h1 class="large-txt">You Got {{score}}/55 Correct!</h1>
    </div>
</div>
<div class="row"> 
            <div class="col-6 d-flex justify-content-center">
                <button (click)="initQuiz()" class="btn btn-primary btn-ocean" type="submit">Try Again</button>
            </div>
            <div class="col-6 d-flex justify-content-center">
                <button (click)="hideQuiz()" class="btn btn-primary btn-ocean" type="submit">Home</button>
            </div>
</div>
</div>
</main>
<footer class="footer">
    <div class="container">
        <span class="text-muted">Copyright Pariveda Solutions 2019. All rights reserved.</span>
    </div>
</footer>