<main role="main" class="container-fluid mt-4 mb-3 flex-fill">
    <div class="row">

        <div class="col-lg-6 vertical-center d-flex justify-content-center" id="profile_face">
            <img src="alex_rogers.png"  class="img-fluid">
        </div>
        
        <div class="col-lg-6 vertical-center d-flex justify-content-center" id="multiple_choice">
            <div class="btn-group-vertical mt-3">
                <button type="button" class="btn btn-ocean btn-primary m-2" data-toggle="button" aria-pressed="false" autocomplete="off">
                        Alex Rogers
                </button>
                <button type="button" class="btn btn-ocean btn-primary m-2" data-toggle="button" aria-pressed="false" autocomplete="off">
                        Stephen Godderidge
                </button>
                <button type="button" class="btn btn-ocean btn-primary m-2" data-toggle="button" aria-pressed="false" autocomplete="off">
                        Jake Altabef
                </button>
                <button type="button" class="btn btn-ocean btn-primary m-2" data-toggle="button" aria-pressed="false" autocomplete="off">
                        Katie Lutz
                </button>
            </div>
        </div>
        
    </div>
</main>