<div class="row">

    <div class="col-lg-6 vertical-center d-flex justify-content-center" id="profile_face">
        <img src="./assets/fins_pics/{{person.Picture_Local}}"  class="img-fluid">
    </div>
    
    <div class="col-lg-6 vertical-center d-flex justify-content-center" id="multiple_choice">
        <div class="btn-group-vertical mt-3">
            <button type="button" class="btn btn-ocean btn-primary m-2" data-toggle="button" aria-pressed="false" autocomplete="off">
                    {{person.Name}}
            </button>
            <button type="button" class="btn btn-ocean btn-primary m-2" data-toggle="button" aria-pressed="false" autocomplete="off">
                    {{person.Name}}
            </button>
            <button type="button" class="btn btn-ocean btn-primary m-2" data-toggle="button" aria-pressed="false" autocomplete="off">
                    {{person.Name}}                
            </button>
            <button type="button" class="btn btn-ocean btn-primary m-2" data-toggle="button" aria-pressed="false" autocomplete="off">
                    {{person.Name}}            
            </button>
        </div>
    </div>
    
</div>